body {
    color: white;
    font-family: 'Poppins',sans-serif;

}
section{
    width: 100%;
}
p {
    text-align: justify;
}
h2 {
    font-size: 56px;
}
#navegacao {
    height: 90px;
}

#apresentacao-secao {
    height: 700px;
    width: 100%;
}
.apresentacao-div{
    width: 100%;
}
#home {
    width: 100%;
    height: 100%;
}

#logo {
    margin-left: 20px;
    align-self: center;
    width: 60px;
    height: 60px;
}

#conteudo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
}

#flork-cafe {
    margin-top: -80px;
    margin-right: 100px;
    max-width: 200px;
}

#elementos {
    margin-right: 200px;
}

#navbarBasicExample {
    display: flex;
}

#sobre-secao {
    width: 100%;
    height: 800px;
}

.letrinha {
    font-size: 26px;
}

.destaque {
    font-size: 56px;
}

#conteudo-inicial {
    width: fit-content;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: -50px auto 100px 30px;
}

#botao-linkedin {
    margin-top: 35px;
}

#botao-linkedin > a{
    color: white;
}

.container-texto {
    float: right;
    width: 700px;
}

.container-texto > p {
    text-indent: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.container-texto > h2 {
    font-size: 56px;
    margin-bottom: 20px;
}

#sobre-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-flork-sobre {
    max-height: 265px;
    margin-top: -50px;
    margin-left: 60px;
}

#objetivo-secao {
    height: 800px;
}

#objetivo-container {
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flork-objetivo {
    margin-top: -80px;
    margin-right: 100px;
    max-width: 200px;
    
}

#agrupamento-hab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#contato-secao {
    height: 400px;
}
.titulo {
    margin-bottom: 50px;
    margin-top: -30px;
    font-size: 56px;
}

.habilidade {
    padding: 20px;
    max-width: 150px;
    border: 1px solid #F7F9ED;
    border-radius: 100px;
}

.quadrado {
    border-radius: 10px;
    margin: 30px;
    max-width: 300px;
    background-color: #F7F9ED;

}

.columns {
    display: flex;
    justify-content: center;
}

.botao {
    margin: auto 30px;
    max-width: 250px;
    letter-spacing: 5px; 
    font-family: 'Quando', serif;
}

progress {
    margin-top: 50px;
}
@media screen and (max-width:1025px) {
    #apresentacao-secao {
        height: 600px;
    }
    #sobre-secao {
        height: 500px;
    }
    #sobre-container{
        margin-top: -200px;
    }
    #objetivo-container{
        margin-top: -250px;
    }
    #objetivo-secao{
        height: 800px;
    }
    #flork-objetivo {
        margin-left: 100px;
        max-width: 250px;
    }
    .titulo {
        margin-top: px;
        font-size: 56px;
    
    }
    .quadrado{
        height: 100px;
    }
    .habilidade {
        width: 100px;
        height: 100px;
    }
    #agrupamento-hab {
        margin: -60px 30px 20px 30px;
    }
    .titulo{
        margin-top: 60px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #conteudo-container {
        margin-top: 250px;
        margin-left: auto;
    }
    #flork-cafe {
        width: 100px;
    }

    #sobre-container{
        margin-top: 50px;
        margin-right: 30px;
    }

    #objetivo-container{
        margin-top: 100px;
        margin-left: 30px;
    }
    .container-texto > h2 {
        font-size: 23pt;
    }
    .container-texto > p {
        font-size: 13pt;
    }
    #flork-sobre {
        max-width: 500px;
    }

    #flork-objetivo {
        width: 200px;
    }
    

}

@media screen and (max-width: 767px) {
    #conteudo-container {
        margin-top: 200px;
    }
    #flork-cafe {
        max-width: 100px;
    }
    .container-texto > h2 {
        text-align:center
    }
    #sobre-container {
        text-align: justify;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
    }
    #flork-sobre{
        display: none;
    }
    #objetivo-container {
        margin-top: 80px;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    #flork-objetivo{
        display: none;
    }
}

.animar {
    animation-name: aparecer;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (min-width: 319px) and (max-width: 448px){
    .quadrado{
        width: 50px;
        height: 50px;
    }
    #imagem-menu {
        display: none;
    }
    .habilidade{
        width: 60px;
        height: 60px;
        padding: 20px;
    }

    .columns {

        align-items: center;
        margin-top: -80px;
        margin-left: 25%;
    }
    #sobre-secao{
        height: fit-content;
    }
    .container-texto{
        margin-bottom: 30px;
    }
    .titulo-contato {
        font-size: 1pt;
    }
}